@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.woff2") format("woff2");
  src: url("./fonts/Montserrat-Regular.woff") format("woff");
  src: url("./fonts/Montserrat-SemiBold.woff2") format("woff2");
  src: url("./fonts/Montserrat-SemiBold.woff") format("woff");
  src: url("./fonts/Montserrat-Medium.woff2") format("woff2");
  src: url("./fonts/Montserrat-Medium.woff") format("woff");
  src: url("./fonts/Montserrat-Light.woff2") format("woff2");
  src: url("./fonts/Montserrat-Light.woff") format("woff");
  src: url("./fonts/Montserrat-Bold.woff2") format("woff2");
  src: url("./fonts/Montserrat-Bold.woff") format("woff");
}
.navBut {
  h3,
  h4,
  h5 {
    font-family: "montserrat";
  }
}
.osnButton {
  font-family: "montserrat";
}
.box-home-content_text {
  h2,
  h4 {
    font-family: "montserrat";
  }
}
.question {
  font-family: "montserrat";
}
.box_answers {
  h2,
  h4 {
    font-family: "montserrat";
  }
}
.cubes {
  h4 {
    font-family: "montserrat";
  }
}
.checking_general {
  h2,
  h4 {
    font-family: "montserrat";
  }
  button {
    font-family: "montserrat";
  }
}
.block-responses {
  h2,
  h3,
  h4 {
    font-family: "montserrat";
  }
}
.percent {
  h3 {
    font-family: "montserrat";
  }
}
footer {
  h2,
  h3,
  h4,
  a,
  button {
    font-family: "montserrat";
  }
}
.solidLabel {
  h3 {
    font-family: "montserrat";
  }
}
