@import "/scss/mixin.scss";
@media (max-width: 1920px) {
  .box-home {
    width: 100%;
    .box-home_icons {
      width: 100%;
    }
  }
  .box_answers {
    width: 100%;
    .price {
      width: 100%;
    }
  }
  .cubes {
    width: 100%;
  }
  .checking_general {
    width: 100%;
  }
  .block-responses {
    width: 100%;
  }
  .percent {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  .solidLabel {
    width: 100%;
  }
}
@media (max-width: 1440px) {
  .box-home {
    height: 910px;
    nav {
      width: 85%;
      .navmobile,
      .navmobile2 {
        display: none;
      }
    }
    .box-home_content {
      width: 85%;
      img {
        width: 63%;
      }
      .box-home-content_text {
        width: 37%;
      }
    }
    .box-home_icons {
      width: 100%;
      .box-home-icons_img {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
  .box_answers {
    .common-block_general {
      width: 100%;
      .common_block {
        width: 90%;
        margin: 0 auto;
        img {
          width: 50%;
        }
      }
    }
  }
  .checking_general {
    .checking {
      width: 87%;
      .checking_text {
        width: 49%;
      }
      img {
        width: 51%;
      }
      .checkingBt::after {
        display: none;
      }
    }
  }
  .block-responses {
    .advantages {
      width: 87%;
      .exclamatory {
        width: 100%;
        grid-template-columns: repeat(2, 50%);
      }
      .checkMark {
        width: 100%;
        grid-template-rows: repeat(4, 90px);
        grid-template-columns: repeat(2, 50%);
      }
    }
  }
  .percent {
    .percent-text {
      &::before {
        display: none;
      }
      h3 {
        width: 600px;
      }
    }
    img {
      left: -80px;
    }
  }
  footer {
    .consultation::after {
      display: none;
    }
    .social {
      width: 82%;
      height: 400px;
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(4, 20%);
      .bukva {
        width: 220px;
        bottom: -100px;
      }
    }
  }
  .solidLabel {
    .solidLabel-img {
      width: 90%;
    }
  }
}
@media screen and (max-width: 1024px) {
  .box-home {
    height: 600px;
    nav {
      width: 88%;
      height: 70px;
      img {
        width: 101px;
      }
      .navBut {
        margin-left: 20px;
        button {
          width: 162px;
        }
      }
    }
    .box-home_content {
      width: 88%;
      height: 400px;
      background-image: url(/img/Иллюстрация\ главная.svg);
      background-size: 48%;
      background-repeat: no-repeat;
      background-position: right bottom;
      img {
        display: none;
      }
      .box-home-content_text {
        justify-content: space-between;
        width: 97%;
        height: 400px;
        .box-home-content-text_tochkiBl {
          display: none;
        }
        .box-home-content-text_tochkiOr {
          display: none;
        }
        h2 {
          font-size: 40px;
          line-height: 50px;
        }
        p {
          width: 50%;
        }
      }
    }
    .box-home_icons {
      width: 100%;
      .box-home-icons_img {
        width: 97%;
        .mobiledel {
          display: none;
        }
      }
    }
  }
  .box_answers {
    .common-block_general {
      .common_block {
        height: 313px;
        img {
          width: 54%;
          height: 312px;
        }
        .common-block-text-button {
          display: flex;
          justify-content: center;
          button {
            display: none;
          }
        }
      }
    }
    .price {
      h2 {
        margin-bottom: 12px;
      }
    }
  }
  .cubes {
    .cubes_img {
      width: 24%;
      height: auto;
      p {
        margin-bottom: 10px;
      }
      img {
        width: 95%;
      }
    }
  }
  .checking_general {
    .checking {
      width: 90%;
      height: 500px;
      background-image: url(/img/checking.svg);
      background-repeat: no-repeat;
      background-size: 45%;
      background-position: bottom right;
      img {
        display: none;
      }
      .checking_text {
        width: 100%;
        height: 400px;
        h2 {
          &:before {
            display: none;
          }
        }
        p {
          width: 50%;
        }
        button {
          width: 38%;
        }
        button:after {
          display: none;
        }
      }
    }
  }
  .block-responses {
    .advantages {
      width: 90%;
      button {
        display: none;
      }
      .exclamatory {
        width: 100%;
        grid-template-columns: repeat(2, 50%);
      }
      .checkMark {
        width: 100%;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, 1fr);
      }
    }
  }
  .percent {
    .percentImg {
      width: 51%;
      height: 80%;
      background-image: url(/img/percent.svg);
      background-size: 140%;
      background-repeat: no-repeat;
      background-position: center;
      img {
        display: none;
        width: 140%;
        bottom: -100px;
        left: 0px;
      }
    }
    .percent-text {
      width: 40%;
      background-size: 140%;
      p {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 20px;
      }
    }
  }
  footer {
    .consultation {
      width: 90%;
      &::after {
        display: none;
      }
      .consulImg {
        width: 51%;
        height: 80%;
        background-image: url(/img/Group125.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        img {
          display: none;
        }
      }
      .consultation-text {
        width: 49%;
        button {
          width: 90%;
        }
      }
    }
    .social {
      width: 90%;
    }
    .social-li {
      img {
        width: 36px;
        height: 36px;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .box-home {
    nav {
      img {
        width: 70px;
      }
      .navBut {
        h3,
        h4,
        h5 {
          font-size: 10px;
        }
        button {
          width: 110px;
          font-size: 10px;
        }
      }
    }
    .box-home_content {
      .box-home-content_text {
        .butCt {
          .osnButton {
            width: 65%;
          }
        }
      }
    }
  }
  .percent {
    margin-top: -40px;
  }
  footer {
    .social {
      .social-li {
        .btn {
          width: 150px;
          font-size: 10px;
        }
        h2 {
          font-size: 14px;
        }
        h3 {
          font-size: 10px;
        }
        li {
          a {
            font-size: 10px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .box-home {
    nav {
      .navBut {
        h3 {
          display: none;
        }
      }
    }
    .box-home_content {
      .box-home-content_text {
        .butCt {
          .osnButton {
            width: 60%;
            font-size: 14px;
          }
        }
      }
    }
  }
  .percent {
    margin-top: 80px;
    .percent-text {
      p {
        margin: 10px 0;
      }
    }
  }
  footer {
    .consultation {
      .consultation-text {
        button {
          font-size: 14px;
        }
      }
    }
    .social {
      .social-li {
        .btn {
          width: 130px;
          font-size: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 625px) {
  .box-home {
    height: 800px;
    nav {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      width: 90%;
      height: 34px;
      background-image: url(./../img/bgmobile.svg);
      background-repeat: no-repeat;
      background-position: center;
      .navmobile {
        display: block;
        width: 34px;
        height: 34px;
        background-image: url(./../img/navmibile.svg);
      }
      .navmobile2 {
        display: block;
        width: 34px;
        height: 34px;
        background-image: url(./../img/navmobile2.svg);
      }
      .navBut {
        display: none;
      }
      img {
        display: none;
      }
    }
    .box-home_content {
      width: 90%;
      height: 670px;
      background-position: top;
      background-size: 450px;
      display: flex;
      justify-content: center;
      .box-home-content_text {
        margin-top: 70px;
        width: 90%;
        height: 480px;
        @include column-centre;
        justify-content: end;
        h2 {
          font-size: 25px;
          line-height: 26px;
          text-align: center;
        }
        p {
          margin-top: 20px;
          width: 300px;
          font-size: 14px;
          line-height: 13px;
          text-align: center;
        }
        .butCt {
          margin-top: 20px;
          width: 100%;
          height: 66px;
          display: flex;
          justify-content: center;
          .osnButton {
            width: 80%;
            height: 66px;
          }
        }
      }
    }
    .box-home_icons {
      width: 100%;
      height: 50px;
      background-image: url(/img/Волна\ под\ маркетплейсы.svg);
      background-size: 625px;
      .box-home-icons_img {
        display: flex;
        justify-content: space-around;
        img {
          margin-bottom: -7px;
          width: 40px;
        }
        .mobiledel {
          display: none;
        }
      }
    }
  }
  .box_answers {
    .question {
      width: 100%;
      font-size: 20px;
      margin-top: 0;
      &:before {
        margin-left: -20px;
      }
    }
    .common-block_general {
      width: 90%;
      @include flex-column;
      margin-top: -30px;
      .common_block {
        margin-top: 50px;
        width: 100%;
        @include column-centre;
        text-align: center;
        img {
          width: 70%;
        }
        &:nth-child(2n-2) {
          display: none;
        }
      }
    }
    .price {
      width: 100%;
      height: 80px;
      background-size: 625px;
      h2 {
        font-size: 16px;
        &::before {
          display: none;
        }
      }
    }
  }
  .cubes {
    height: 400px;
    .cubes_img {
      width: 50%;
      position: relative;
      &::after {
        content: "";
        background-image: url(/img/strelka2.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: -60px;
        top: 100px;
        width: 50px;
        height: 50px;
      }
      &::before {
        content: "";
        background-image: url(/img/strelka.svg);
        background-repeat: no-repeat;
        position: absolute;
        right: -80px;
        top: 100px;
        width: 50px;
        height: 50px;
      }
      img {
        width: 70%;
      }
      p {
        margin-top: 10px;
      }
      &:nth-child(1n + 2) {
        display: none;
      }
    }
  }
  .checking_general {
    height: 190px;
    .checking {
      height: 180px;
      background: none;
      .checking_text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 180px;
        .checkingBt_tochki {
          display: flex;
          justify-content: center;
          button {
            width: 311px;
            height: 66px;
          }
        }
        h2 {
          text-align: center;
          font-size: 20px;
          line-height: 26px;
        }
        p {
          text-align: center;
          font-size: 9px;
          line-height: 10px;
        }
      }
    }
  }
  .block-responses {
    height: 650px;
    .header-responses {
      margin-top: 20px;
      h2 {
        font-size: 20px;
        text-align: center;
      }
      p {
        font-size: 12px;
        text-align: center;
      }
    }
    .advantages {
      margin-top: 20px;
      height: 450px;
      .exclamatory {
        height: 600px;
        @include column-centre;
        p {
          margin-top: 20px;
          width: 80%;
          text-align: center;
        }
      }
      .checkMark {
        display: none;
      }
      button {
        margin-top: 10px;
        display: block;
      }
    }
  }
  .percent {
    margin-top: 40px;
    height: 800px;
    @include column-centre;
    .percentImg {
      width: 75%;
      img {
        display: none;
      }
    }
    .percent-text {
      width: 90%;
      margin: 0;

      background: none;
      p {
        text-align: left;
        font-size: 25px;
      }
      &:before {
        display: none;
      }
    }
  }
  footer {
    margin-top: -100px;
    height: 1300px;
    background-repeat: no-repeat;
    background-position: bottom;
    .consultation {
      @include flex-column;
      justify-content: space-evenly;
      height: 550px;
      .consulImg {
        width: 90%;
        height: 400px;
        background-size: 100%;
      }
      .consultation-text {
        margin: -130px 0 0;
        width: 90%;
        @include column-centre;
        h2 {
          text-align: center;
          line-height: 26px;
        }
        p {
          text-align: center;
          margin: 10px 0;
        }
        button {
          width: 80%;
          height: 54px;
        }
        &:before {
          display: none;
        }
      }
    }
    .social {
      margin-top: -200px;
      grid-template-columns: repeat(2, 50%);
      .bukva {
        width: 180px;
        bottom: -184px;
      }
    }
  }
  .solidLabel {
    .solidLabel-img {
      img {
        width: 40%;
      }
      h3 {
        font-size: 10px;
      }
    }
  }
}
