@import "/scss/mixin.scss";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.box-home {
  @include column-centre;
  width: 1920px;
  height: 922px;
  margin-left: auto;
  margin-right: auto;
  @include backgroundhome;
  nav {
    width: 1204px;
    height: 70px;
    @include row-centre;
    justify-content: space-between;
    .navmobile,
    .navmobile2 {
      display: none;
    }
    .navBut {
      @include row-centre;
      justify-content: space-between;
      width: 820px;
      height: 31px;
      h3 {
        font-size: 14px;
        font-weight: 500;
        color: #f68738;
      }
      h4 {
        font-size: 14px;
        font-weight: 500;
        color: #585858;
      }
      h5 {
        font-size: 14px;
        font-weight: 500;
        color: #585858;
        &::after {
          content: url(/img/Polygon1.svg);
          margin-left: 10px;
        }
      }
      button {
        width: 182px;
        height: 31px;
        color: #83bcdc;
        background: none;
        border: 2px solid #83bcdc;
        border-radius: 10px;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
  .box-home_content {
    @include row-centre;
    justify-content: space-between;
    width: 1204px;
    height: 704px;
    .box-home-content_text {
      @include flex-column;
      justify-content: space-between;
      width: 499px;
      height: 600px;
      h2 {
        font-size: 46px;
        font-weight: 700;
        line-height: 60px;
        color: rgba(71, 167, 227, 1);
        span {
          color: rgba(48, 48, 48, 1);
        }
      }
      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        color: rgba(88, 88, 88, 1);
      }
      .box-home-content-text_tochkiOr {
        width: 158px;
        height: 45px;
        background-image: url(/img/Не\ подтвержден\ 70237.crdownload.svg);
      }
      .butCt {
        @include flex-row;
        justify-content: space-between;
        width: 448px;
        height: 158px;
        .osnButton {
          @include btnOsn;
        }
        .box-home-content-text_tochkiBl {
          width: 45px;
          height: 158px;
          background-image: url(/img/Не\ подтвержден\ 70238.crdownload.svg);
        }
      }
      img {
        width: 705px;
        height: 551px;
      }
    }
  }
  .box-home_icons {
    @include row-centre;
    justify-content: center;
    align-items: flex-end;
    background-image: url(/img/Волна\ под\ маркетплейсы.svg);
    background-size: 1920px;
    background-repeat: no-repeat;
    width: 1920px;
    height: 135px;
    .box-home-icons_img {
      width: 1204px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
    }
  }
}
.box_answers {
  @include column-centre;
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
  .question {
    margin-left: auto;
    margin-right: auto;
    @include column-centre;
    height: 100px;
    margin-top: 76px;
    font-size: 40px;
    font-weight: 700;
    color: rgba(49, 101, 148, 1);
    &:before {
      content: url(/img/questionn.svg);
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
  }
  .common-block_general {
    margin-left: auto;
    margin-right: auto;
    width: 1260px;
  }
  .common_block {
    @include flex-row;
    width: 1260px;
    height: 475px;
  }
  .common-block_text,
  .common-block-text-button {
    @include flex-column;
    justify-content: center;
    h2 {
      color: rgba(71, 167, 227, 1);
      font-size: 28px;
      font-weight: 700;
      line-height: 32px;
    }
    p {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      span {
        color: rgba(49, 101, 148, 1);
      }
    }
  }
  .common-block-text-button {
    @include flex-column;
    justify-content: space-between;
    button {
      margin-bottom: 10px;
      @include btnOsn;
    }
  }
  .price {
    margin-left: auto;
    margin-right: auto;
    @include column-centre;
    justify-content: flex-end;
    margin-top: 100px;
    width: 1920px;
    height: 271px;
    background-image: url(/img/волна.png);
    background-size: 1920px;
    background-repeat: no-repeat;
    h2 {
      @include column-centre;
      font-size: 40px;
      font-weight: 700;
      color: rgba(255, 255, 255, 1);
      margin-bottom: 40px;
      &:before {
        content: url(/img/tochkiprise.svg);
        width: 100px;
        height: 50px;
      }
    }
  }
}
.cubes {
  @include row-centre;
  justify-content: center;
  width: 1920px;
  height: 533px;
  margin-left: auto;
  margin-right: auto;
  .cubes_img {
    @include column-centre;
    margin: 40px;
    width: 300px;
    height: 333px;
    box-shadow: 6px 7px 7px rgba(137, 137, 137, 0.1);
    border-radius: 25px;
    img {
      width: 231px;
      background-image: url(/img/obl.svg);
      background-size: 100%;
      background-repeat: no-repeat;
    }
    p {
      margin-top: 30px;
      text-align: center;
      // width: 260px;
      font-size: 16px;
      font-weight: 500;
      color: rgba(49, 101, 148, 1);
    }
  }
}
.checking_general {
  width: 1920px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  .checking {
    @include row-centre;
    justify-content: space-between;
    width: 1267px;
    height: 581px;
    img {
      width: 671px;
    }
    .checking_text {
      @include flex-column;
      justify-content: space-between;
      width: 595px;
      height: 430px;
      h2 {
        @include flex-column;
        color: rgba(49, 101, 148, 1);
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0.8px;
      }
      h2:before {
        content: url(/img/Не\ подтвержден\ 70237.crdownload.svg);
        margin-bottom: 10px;
      }
      .checkingBt_h4 {
        position: relative;
        width: 500px;
      }
      p {
        display: flex;
        color: rgba(88, 88, 88, 1);
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
      }
      button {
        width: 395px;
        height: 94px;
        color: rgba(84, 175, 221, 1);
        background: none;
        border: 4px solid rgba(71, 167, 227, 1);
        border-radius: 25px;
        position: relative;
        &::after {
          content: url(/img/Не\ подтвержден\ 70238.crdownload.svg);
          position: absolute;
          right: -200px;
          bottom: 0;
        }
      }
    }
  }
}
.block-responses {
  margin-left: auto;
  margin-right: auto;
  @include column-centre;
  width: 1920px;
  height: 980px;
  .header-responses {
    width: 551px;
    height: 144px;
    margin-top: 50px;
    h2 {
      @include column-centre;
      font-size: 40px;
      font-weight: 700;
      color: rgba(49, 101, 148, 1);
      &:before {
        content: url(/img/tck.svg);
      }
    }
    p {
      font-size: 20px;
      font-weight: 700;
      margin-top: 24px;
      color: rgba(88, 88, 88, 1);
      span {
        color: rgba(49, 101, 148, 1);
      }
    }
  }
  .advantages {
    @include column-centre;
    margin-top: 100px;
    .exclamatory {
      display: grid;
      width: 1200px;
      height: 228px;
      grid-template-rows: repeat(4, 90px);
      grid-template-columns: repeat(2, 600px);
      p {
        margin-left: 50px;
        font-size: 16px;
        font-weight: 700;
        color: rgba(88, 88, 88, 1);
        letter-spacing: 0.8px;
        position: relative;
        &:before {
          content: url(/img/exclamatory.svg);
          position: absolute;
          left: -50px;
          top: 2px;
        }
      }
    }
    .checkMark {
      display: grid;
      width: 1200px;
      height: 320px;
      margin-top: 50px;
      grid-template-rows: repeat(4, 70px);
      grid-template-columns: repeat(2, 600px);
      p {
        margin-left: 50px;
        font-size: 16px;
        font-weight: 700;
        color: rgba(88, 88, 88, 1);
        line-height: 22px;
        letter-spacing: 0.8px;
        position: relative;
        &:before {
          content: url(/img/checkMark.svg);
          position: absolute;
          left: -50px;
          top: 5px;
        }
        span {
          color: rgba(49, 101, 148, 1);
          display: inline;
        }
      }
    }
    button {
      @include btnOsn;
    }
  }
}
.percent {
  width: 1920px;
  height: 851px;
  margin-left: auto;
  margin-right: auto;
  @include row-centre;
  .percentImg {
    width: 851px;
    position: relative;
    img {
      position: absolute;
      bottom: -400px;
    }
  }
  .percent-text {
    @include flex-column;
    justify-content: center;
    width: 969px;
    height: 800px;
    margin-left: 100px;
    position: relative;
    background-image: url(/img/percent-text.svg);
    background-size: 969px;
    background-position: left;
    background-repeat: no-repeat;
    &:before {
      content: url(/img/percenttck.svg);
      position: absolute;
      left: -70px;
    }
    p {
      font-size: 28px;
      font-weight: 700;
      color: rgba(49, 101, 148, 1);
      line-height: 28px;
      margin: 30px 0 40px 0;
      span {
        color: rgba(239, 152, 89, 1);
      }
    }
  }
}
footer {
  width: 1920px;
  height: 996px;
  margin-left: auto;
  margin-right: auto;
  @include column-centre;
  justify-content: space-around;
  background-image: url(/img/footer.svg);
  .consultation {
    width: 979px;
    height: 428px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 6px 7px 7px rgba(137, 137, 137, 0.1);
    border-radius: 25px;
    @include row-centre;
    justify-content: center;
    position: relative;
    &::after {
      content: url(/img/Лифт\ наверх.svg);
      position: absolute;
      bottom: 0;
      right: -130px;
    }
    .consultation-text {
      margin-top: 100px;
      margin-bottom: 50px;
      width: 440px;
      position: relative;
      &:before {
        content: url(/img/footertck.svg);
        position: absolute;
        top: -55px;
        left: -70px;
      }
      h2 {
        font-size: 28px;
        font-weight: 700;
        color: rgba(71, 167, 227, 1);
      }
      p {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 500;
        color: rgba(88, 88, 88, 1);
      }
      button {
        @include btnOsn;
      }
    }
    .consulImg {
      width: 539px;
      position: relative;
      img {
        width: 600px;
        position: absolute;
        top: -250px;
        right: 15px;
      }
    }
  }

  .social {
    width: 1190px;
    height: 280px;
    display: grid;
    grid-template-columns: repeat(4, 285px);
    position: relative;
    .social-li {
      h2 {
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        font-weight: 700;
        border-bottom: 1px solid rgba(181, 223, 255, 1);
        padding-bottom: 20px;
        margin-bottom: 15px;
      }
      h3 {
        color: rgba(181, 223, 255, 1);
        font-size: 12px;
        font-weight: 700;
      }
      li {
        list-style: none;
        margin-top: 5px;
        a {
          font-size: 12px;
          font-weight: 600;
          color: rgba(255, 255, 255, 1);
          text-decoration: none;
          &:hover {
            opacity: 0.6;
          }
        }
      }
      .btn {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 182px;
        height: 31px;
        color: rgba(255, 255, 255, 1);
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 1);
        border-radius: 10px;
        &:hover {
          opacity: 0.6;
        }
      }
      img {
        width: 46px;
        height: 46px;
        margin-top: 10px;
        margin-right: 10px;
        &:hover {
          opacity: 0.6;
        }
      }
    }
    .bukva {
      width: 350px;
      position: absolute;
      bottom: -165px;
    }
  }
}
.solidLabel {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: 1920px;
  height: 66px;
  background: rgba(47, 97, 146, 1);
  background-size: 1920px;
  .solidLabel-img {
    width: 1190px;
    display: flex;
    justify-content: space-between;
    img {
      width: 238px;
    }
    h3 {
      margin-top: 13px;
      font-size: 11px;
      font-weight: 500;
      color: rgba(255, 255, 255, 1);
    }
    .underline {
      text-decoration-line: underline;
    }
  }
}
